@keyframes animation-y {
  0% {
    transform: rotate(xx) scale(0) translateY(0) skewY(0);
    transform-origin: 50%;
    height: 0;
  }

  3% {
    transform: rotate(xx) skewY(100%);
    transform-origin: 100%;
    height: 200px;
  }
}
