$primarycolor: white;
$secondarycolor: #05ffc0;
$thirdcolor: #1a1b1b;
$fourcolor: rgb(17, 17, 17);
$shadows: rgb(27, 27, 27);
$esportscolor: #9a9ce9;
$saviacolor: #fc3975;
$royalcolor: #ec001a;

$lightcolor: #cccccc;
$lightcolorborder: #b9b9b9;
$basecolor: #2b2b2b;
