$layout_bp_tablet2: 594px;
$layout_bp_tablet: 768px;
$layout_bp_desktop: 1280px;

@mixin tablet {
    @media only screen and (min-width: #{$layout_bp_tablet}) {
        @content;
    }

}

@mixin tablet2 {
    @media only screen and (min-width: #{$layout_bp_tablet2}) {
        @content;
    }

}

@mixin desktop {
    @media only screen and (min-width: #{$layout_bp_desktop}) {
        @content;
    }
}