<div class="container">
    <p class="container__base">LET´S TALK</p>
    <img class="container__backarrow" src="../../../../assets/img/back-arrow.png" [routerLink]="['/landing']">
    <form class="container__form">
        <div>
            <h2>Let´s talk!</h2>
            <p type="Name:"><input class="container__form--input" placeholder="Nombre"></p>
            <p type="Email:"><input class="container__form--input" placeholder="Email"></p>
            <p type="Message:"><input class="container__form--input" placeholder="Tell me something!"></p>
            <button>Send Message</button>
        </div>
    </form>
    <ngx-lottie-view class="container__capa" loop autoplay path="../../../../assets/animations/talk-lines.json">
    </ngx-lottie-view>
</div>