@import "../../../styles/colors.scss";
@import "../../../styles/responsive";
@import "../../../styles/fonts";

.container {
  background-color: $thirdcolor;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__capa  {
    position: absolute;
    z-index: 2;
    top: 0;
  }

  &__base {
    z-index: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    font-family: $font-title;
    font-weight: 800;
    font-size: 140px;
    line-height: 120px;
    width: 100%;
    height: 100vh;
    color: $basecolor;
    margin: 0px;
    padding: 0px;
    @include tablet {
      font-weight: 800;
      font-size: 300px;
      line-height: 230px;
    }
    @include desktop {
      font-weight: 700;
      font-size: 500px;
      line-height: 450px;
    }
  }

  &__form {
    position: absolute;
    z-index: 3;
    width: 270px;
    height: 440px;
    background: $thirdcolor;
    border-radius: 8px;
    box-shadow: 0 0 50px -15px $secondarycolor;
    margin: calc(40vh - 200px) auto;
    padding: 20px 30px;
    max-width: calc(40vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

    @include tablet {
      width: 370px;
    }

    &--input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      font-family: "Montserrat", sans-serif;
      transition: all 0.3s;
      border-bottom: 2px solid $secondarycolor;
      border-bottom: 2px solid $secondarycolor;
      color: $primarycolor;
      text-decoration: none;
      background-color: $thirdcolor;
    }
  }

  &__backarrow {
    z-index: 6;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 20px;
    width: 20px;
    outline: none;

    @include tablet {
      margin: 30px;
      width: 30px;
    }

    &:hover {
      text-decoration: line-through;
      line-height: normal;
      transform: scale(1.3);
      transition: 0.4s;
      outline: none;
    }
  }
}
* {
  margin: 0px;
}
h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: $secondarycolor;
  border-bottom: 3px solid $secondarycolor;
}

p:before {
  content: attr(type);
  display: block;
  margin: 30px 0 0;
  font-size: 14px;
  color: $secondarycolor;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 20px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid $secondarycolor;
  background: 0;
  color: $secondarycolor;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: $secondarycolor;
  color: $primarycolor;
}
