<img class="backarrow" src="../../../../assets/img/volver-flecha.svg" [routerLink]="['/landing']">

<div class="saviagrid">

    <div class="saviagrid__left">

        <div *ngFor='let savia of saviaInfo'>
            <img class="saviagrid__left__img" src="https://www.saludsavia.com/assets/images/logo.svg">
            <h3 class="saviagrid__left__name">{{ savia.name }}</h3>
            <h3 class="saviagrid__left__type">{{ savia.type }}</h3>
            <p class="saviagrid__left__description">{{ savia.description }}</p>
            <a class="saviagrid__left__linkweb" href="{{ savia.web }}">Company Web</a>
            <a class="saviagrid__left__linkbehance" href="{{ savia.urlbehance }}">Portfolio Design</a>
            <img class="saviagrid__left__ilustration" src="./assets/img/savia/hombre-mujer-png.png">
        </div>

    </div>


    <div class="saviagrid__rigth" *ngFor='let savia of saviaInfo'>
        <img class="saviagrid__rigth__img" src="./assets/img/savia/portada.png">
        <img class="saviagrid__rigth__circle" src="./assets/img/savia/circulo.png">
    </div>
</div>
<div class="section0" *ngFor='let data of saviaInfo'>
    <img class="section0__piezaone" src="./assets/img/savia/rrss1.png">
    <img class="section0__piezatwo" src="./assets/img/savia/rrss2.png">
    <img class="section0__piezaone" src="./assets/img/savia/rrss3.png">
    <img class="section0__piezatwo" src="./assets/img/savia/rrss4.png">
    <ngx-lottie-view class="section0__piezathree" autoplay loop path="./assets/animations/savia/rrss5.json">
    </ngx-lottie-view>
    <ngx-lottie-view class="section0__animation" autoplay loop path="./assets/animations/savia/saviawaves.json">
    </ngx-lottie-view>
</div>
<div>
    <img class="logo" src="./assets/img/logo-srburns.png">
</div>