@import "../../../styles/colors";
@import "../../../styles/fonts";
@import "../../../styles/responsive";

.backarrow {
  z-index: 5;
  position: fixed;
  margin: 10px;
  width: 20px;
  enable-background: inherit;
  @include tablet {
    margin: 20px;
    width: 30px;
  }

  &:hover {
    text-decoration: line-through;
    line-height: normal;
    transform: scale(1.3);
    transition: 0.4s;
    outline: none;
  }
}

.saviagrid {
  display: flex;
  flex-direction: row;
  font-family: $font-title;

  &__left {
    background-color: $primarycolor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;

    &__ilustration {
      display: none;
      @include desktop {
        display: block;
        width: 100%;
      }
    }

    &__img {
      margin-top: 50px;
      margin-bottom: 20px;
      width: 130px;
      @include tablet {
        width: 180px;
      }
      @include desktop {
        margin-top: 100px;
        width: 230px;
        margin-bottom: 30px;
      }
    }

    &__name {
      color: $saviacolor;
      @include tablet {
        font-size: 30px;
      }
      @include desktop {
        display: none;
      }
    }
    &__type {
      color: $thirdcolor;
      @include tablet {
        font-size: 30px;
      }
      @include desktop {
        font-size: 60px;
        text-align: left;
        padding-left: 100px;
        margin-top: 30px;
      }
    }
    &__description {
      color: $fourcolor;
      margin-top: 10px;
      font-size: 9px;
      padding: 20px;
      @include tablet {
        font-size: 16px;
        padding: 40px;
      }
      @include desktop {
        font-size: 22px;
        padding-left: 100px;
        text-align: left;
      }
    }
    &__linkweb {
      text-decoration: none;
      color: $saviacolor;
      font-size: 12px;
      margin: 5px;
      @include tablet {
        font-size: 16px;
      }
      @include desktop {
        font-size: 25px;
        margin: 10px;
      }

      &:hover {
        font-weight: bold;
      }
    }
    &__linkbehance {
      text-decoration: none;
      color: $saviacolor;
      font-size: 12px;
      margin: 5px;
      @include tablet {
        font-size: 16px;
      }
      @include desktop {
        font-size: 25px;
        margin: 10px;
      }
      &:hover {
        font-weight: bold;
      }
    }
  }

  &__rigth {
    z-index: 0;
    background-color: $primarycolor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &__img {
      z-index: 3;
      margin-top: 40px;
      width: 150px;

      @include tablet {
        width: 200px;
      }
      @include desktop {
        margin-top: -20px;
        width: 500px;
      }
    }

    &__circle {
      z-index: 1;
      width: 70px;
      position: absolute;
      display: none;

      @include tablet {
        display: block;
        top: 50px;
        width: 250px;
        position: absolute;
      }

      @include desktop {
        display: block;
        top: 70px;
        width: 700px;
        position: absolute;
      }
    }
  }
}

.section0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  z-index: 0;
  position: relative;

  &__animation {
    position: absolute;
    top: 180px;
    z-index: 1;
    @include tablet {
      top: 450px;
    }
    @include desktop {
      top: 100px;
    }
  }
  &__piezaone {
    width: 50%;
    z-index: 3;
    @include desktop {
      padding-left: 100px;
      width: 30%;
    }
  }

  &__piezatwo {
    width: 50%;
    z-index: 3;
    @include desktop {
      padding-right: 100px;
      width: 30%;
    }
  }

  &__piezathree {
    width: 50%;
    z-index: 3;
    @include desktop {
      width: 30%;
      padding-left: 100px;
      z-index: 3;
    }
  }
}

.logo {
  margin: 20px;
  z-index: 3;
  width: 30%;
}
