<div [routerLink]="['/landing']">Back</div>
<section>
    <ul>
        <li *ngFor='let esports of esportsInfo'>
            <img src="{{ esports.img }}">
            <h3>{{ esports.name }}</h3>
            <h3>{{ esports.type }}</h3>
            <p>{{ esports.description }}</p>
            <p>{{ esports.urlbehance }}</p>
        </li>
    </ul>
</section>