<div [routerLink]="['/landing']">Back</div>
<section>
    <ul>
        <li *ngFor='let royal of royalInfo'>
            <img src="{{ royal.img }}">
            <h3>{{ royal.name }}</h3>
            <h3>{{ royal.type }}</h3>
            <p>{{ royal.description }}</p>
        </li>
    </ul>
</section>

