<nav class="container-links">
    <a class="container-links__links" href="https://www.behance.net/">BEHANCE</a>
    <a class="container-links__links" href="https://gitlab.com/Rafael-Elena">GITLAB</a>
    <a class="container-links__links" href="https://www.linkedin.com/in/rafaelena/">LINKEDIN</a>
    <a class="container-links__links" (click)="clickEvent()">WHAT I USE?
        <div class="container-icons" [ngClass]="status ? 'success' : 'containericonsopen'">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-9.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-2.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-3.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-4.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-5.svg">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-6.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-7.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-8.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-1.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-10.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-11.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-12.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-13.png">
            <img class="containericonsopen__imglogo" src="../../../../assets/icons/icon-14.png">
        </div>
    </a>
    <a class="container-links__links" href="../../../../assets/img/cv/RAFAEL ELENA.pdf"
        download="Cv-Rafael-Elena">DOWNLOAD-CV</a>
</nav>