@import "../../../styles/fonts.scss";
@import "../../../styles/responsive";
@import "../../../styles/colors";

.container-links {
  display: flex;
  flex-direction: column;

  &__links {
    font-size: 10px;
    text-decoration: none;
    color: $primarycolor;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 10px;
    padding: 0px;
    font-family: $font-title;
    &:hover {
      color: aquamarine;
    }

    @include desktop {
      font-size: 20px;
      text-decoration: none;
      color: $primarycolor;
      writing-mode: vertical-lr;
      margin: 10px;
      padding: 0px;
      font-family: $font-title;
    }
  }
}

.container-icons {
  display: none;
}

.containericonsopen {
  writing-mode: horizontal-tb;
  transform: rotate(180deg);
  z-index: 8;
  display: flex;
  position: fixed;
  flex-direction: column;
  left: -70px;
  top: -420px;

  width: 55px;
  height: 675px;
  background-color: $primarycolor;
  opacity: 100%;
  border-radius: 30px;
  position: absolute;

  @include desktop {
    top: -370px;
    width: 65px;
    height: 795px;
    left: -100px;
  }

  &__imglogo {
    background-color: none;
    opacity: 100%;
    left: 2px;
    position: relative;
    transform: rotate(0deg);
    width: 30px;
    margin: 11px;
    @include desktop {
      width: 40px;
    }
  }
}
