<app-links class="links" [ngClass]="status ? '' : 'blacklight'"></app-links>
<button class="button" (click)="clickEvent()" [ngClass]="status ? '' : 'button-obscure'"></button>
<div class="container">
  <div class="grid" *ngFor="let data of landingInfo">
    <div class="grid__panel1" [ngClass]="status ? '' : 'gridlight'">
    </div>
    <div class="grid__panel2" [ngClass]="status ? '' : 'gridlight'">
      <h1 class="grid__panel2__title" [ngClass]="status ? '' : 'blacklight'">
        {{ data.name }}
      </h1>
      <p class="grid__panel2__description" [ngClass]="status ? '' : 'blacklight'">
        {{ data.description }}
      </p>
      <h2 class="grid__panel2__about" [ngClass]="status ? '' : 'lineslight'">
        {{ data.about }}
      </h2>
      <p class="grid__panel2__knowme" [ngClass]="status ? '' : 'blacklight'">
        {{ data.me }}
      </p>
      <img class="grid__panel2__featured" src="../../../../assets/img/featured-work.jpg" />
      <h3 class="grid__panel2__featuredworks" [ngClass]="status ? '' : 'titlesblacklight'">
        {{ data.work }}
      </h3>
      <img class="grid__panel2__esports" [routerLink]="['/esports']"
        src="../../../../assets/img/landing/esports-pic.jpg" />
      <h3 class="grid__panel2__esportslink" [routerLink]="['/esports']" [ngClass]="status ? '' : 'titlesblacklight'">
        {{ data.esports }}
      </h3>
      <img class="grid__panel2__angular" [routerLink]="['/angular']"
        src="../../../../assets/img/landing/angular-pic.jpg" />
      <h3 class="grid__panel2__angularlink" [routerLink]="['/angular']" [ngClass]="status ? '' : 'titlesblacklight'">
        {{ data.angular }}
      </h3>
      <h3 class="grid__panel2__talkdescription" [ngClass]="status ? '' : 'blacklight'">
        {{ data.letstalkdescription }}
      </h3>
      <h3 class="grid__panel2__letstalk" [routerLink]="['/letstalk']">
        {{ data.letstalk }}
      </h3>

      <ngx-lottie-view class="grid__panel2__animation" autoplay loop="true"
        path="../../../../assets/animations/lines.json">
      </ngx-lottie-view>
    </div>
    <div class="grid__panel3" [ngClass]="status ? '' : 'gridlight'"></div>
    <div class="grid__panel4" [ngClass]="status ? '' : 'gridlight'">
      <h1 class="grid__panel4__title" [ngClass]="status ? '' : 'blacklight'">
        {{ data.name }}
      </h1>
    </div>
    <div class="grid__panel5" [ngClass]="status ? '' : 'gridlight'">
      <img [routerLink]="['/savia']" class="grid__panel5__savia" src="../../../../assets/img/landing/savia-pic.jpg" />
      <h3 [routerLink]="['/savia']" class="grid__panel5__savialink" [ngClass]="status ? '' : 'titlesblacklight'">
        {{ data.savia }}
      </h3>
      <img [routerLink]="['/royal']" class="grid__panel5__royal"
        src="../../../../assets/img/landing/royalcanin-pic.jpg" />
      <h3 [routerLink]="['/royal']" class="grid__panel5__royallink" [ngClass]="status ? '' : 'titlesblacklight'">
        {{ data.royal }}
      </h3>
      <img [routerLink]="['/react']" class="grid__panel5__react" src="../../../../assets/img/landing/react-pic.jpg" />
      <h3 [routerLink]="['/react']" class="grid__panel5__reactlink" [ngClass]="status ? '' : 'titlesblacklight'">
        {{ data.react }}
      </h3>
    </div>
    <div class="grid__panel6" [ngClass]="status ? '' : 'gridlight'"></div>
  </div>
</div>