@import "../../../styles/responsive.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/animations.scss";
@import "../../../styles/mixins.scss";

.links {
  z-index: 8;
  display: flex;
  position: fixed;
  margin: 15px;
}

.grid {
  display: flex;
  flex-direction: row;
  font-family: $font-title;

  &__panel1 {
    z-index: 7;
    background-color: $thirdcolor;
    width: 25%;
    height: auto;
    border: solid 0.5px $fourcolor;
    border-bottom: none;
    position: relative;
    overflow: visible;

    &__elements {
      position: absolute;
      top: 600px;
      left: 50px;
      background-color: $secondarycolor;
      width: 60px;
      height: 60px;
      border-radius: 50px;
    }
  }

  &__panel2 {
    background-color: $thirdcolor;
    width: 25%;
    height: auto;
    border: solid 1px $fourcolor;
    border-bottom: none;
    position: relative;

    &__animation {
      display: none;

      @include tablet {
        display: block;
        z-index: 3;
        width: 430%;
        top: 300px;
        position: absolute;
      }
      @include desktop {
        top: 350px;
      }
    }

    &__letstalk {
      z-index: 1;
      width: 300px;
      top: 2860px;
      position: absolute;
      color: $secondarycolor;
      font-size: 50px;
      line-height: 45px;
      outline: none;
      text-decoration: line-through;

      &:hover {
        text-decoration: none;
      }

      @include tablet {
        top: 3650px;
        font-size: 80px;
        line-height: 75px;
        width: 600px;
      }

      @include desktop {
        top: 6150px;
        font-size: 120px;
        line-height: 100px;
        left: -5px;
        width: 900px;
      }
    }

    &__talkdescription {
      z-index: 1;
      top: 2530px;
      position: absolute;
      color: white;
      font-size: 50px;
      line-height: 45px;

      @include tablet {
        top: 3200px;
        font-size: 80px;
        line-height: 75px;
        width: 500px;
      }
      @include desktop {
        top: 5600px;
        font-size: 120px;
        line-height: 100px;
        left: -5px;
        width: 900px;
      }
    }

    &__angularlink {
      font-size: 40px;
      line-height: 35px;
      position: absolute;
      z-index: 2;
      top: 1960px;
      left: 20px;
      width: 150px;
      color: $primarycolor;
      text-shadow: 1px 1px 5px $shadows;
      outline: none;

      &:hover {
        color: $secondarycolor;
        text-decoration: line-through;
        transform: scale(1.3);
        transition: 0.4s;
      }

      @include tablet {
        top: 2500px;
        font-size: 60px;
        left: 100px;
        line-height: 45px;
      }
      @include desktop {
        top: 4400px;
        font-size: 90px;
        line-height: 70px;
        left: 210px;
      }
    }

    &__angular {
      position: absolute;
      z-index: 1;
      top: 1860px;
      width: 270px;
      outline: none;

      @include tablet {
        width: 300px;
        top: 2400px;
      }

      @include desktop {
        width: 560px;
        top: 4200px;
      }
    }

    &__esportslink {
      font-size: 40px;
      line-height: 35px;
      position: absolute;
      z-index: 2;
      top: 1310px;
      left: 20px;
      width: 150px;
      color: $primarycolor;
      text-shadow: 1px 1px 5px $shadows;
      outline: none;

      &:hover {
        color: $esportscolor;
        text-decoration: line-through;
        transform: scale(1.3);
        transition: 0.4s;
      }

      @include tablet {
        top: 1700px;
        font-size: 60px;
        left: 100px;
        line-height: 45px;
      }
      @include desktop {
        top: 3000px;
        font-size: 90px;
        line-height: 70px;
        left: 210px;
      }
    }

    &__esports {
      position: absolute;
      z-index: 1;
      top: 1220px;
      width: 270px;
      outline: none;

      @include tablet {
        width: 300px;
        top: 1600px;
      }

      @include desktop {
        width: 560px;
        top: 2800px;
      }
    }

    &__featuredworks {
      font-size: 40px;
      line-height: 35px;
      position: absolute;
      z-index: 2;
      top: 680px;
      left: 20px;
      width: 150px;
      color: $primarycolor;
      text-shadow: 1px 1px 5px $shadows;

      @include tablet {
        top: 880px;
        font-size: 60px;
        left: 100px;
        line-height: 45px;
      }
      @include desktop {
        top: 1700px;
        font-size: 90px;
        line-height: 70px;
        left: 210px;
      }
    }

    &__featured {
      position: absolute;
      z-index: 1;
      top: 580px;
      width: 270px;

      @include tablet {
        top: 800px;
        width: 300px;
      }

      @include desktop {
        top: 1400px;
        width: 560px;
      }
    }

    &__title {
      z-index: 1;
      top: 50px;
      left: -4px;
      position: absolute;
      color: white;
      font-size: 70px;
      line-height: 60px;

      @include tablet {
        display: none;
      }
    }

    &__description {
      z-index: 1;
      width: 150px;
      top: 250px;
      position: absolute;
      color: $secondarycolor;
      font-size: 10px;
      line-height: normal;

      @include tablet {
        top: 150px;
        left: -75px;
        width: 200px;
        font-size: 15px;
        transform: rotate(-90deg);
        line-height: 20px;
      }

      @include desktop {
        width: 280px;
        top: 350px;
        font-size: 25px;
        left: -105px;
        line-height: 25px;
      }
    }

    &__about {
      z-index: 1;
      left: -4px;
      top: 330px;
      color: transparent;
      position: absolute;
      font-size: 70px;
      line-height: 50px;
      -webkit-text-stroke: 2px $secondarycolor;

      @include tablet {
        top: 490px;
        font-size: 80px;
      }
      @include desktop {
        top: 1000px;
        font-size: 120px;
        line-height: 80px;
        left: -5px;
      }
    }

    &__knowme {
      z-index: 1;
      width: 240px;
      left: -1px;
      top: 450px;
      position: absolute;
      color: white;
      font-size: 10px;

      @include tablet {
        top: 610px;
        font-size: 16px;
        width: 340px;
      }

      @include desktop {
        top: 1220px;
        font-size: 23px;
        width: 750px;
      }
    }
  }

  &__panel3 {
    background-color: $thirdcolor;
    width: 25%;
    height: auto;
    border: solid 1px $fourcolor;
    position: relative;
    border-bottom: none;
  }
  &__panel4 {
    background-color: $thirdcolor;
    width: 25%;
    height: auto;
    border: solid 1px $fourcolor;
    position: relative;
    border-bottom: none;

    &__title {
      display: none;
      z-index: 8;
      left: -128px;
      top: 50px;
      position: absolute;
      color: white;
      font-size: 70px;
      line-height: 60px;

      @include tablet {
        display: inline;
        font-size: 120px;
        line-height: normal;
        line-height: 100px;
        left: -5px;
      }
      @include desktop {
        left: -15px;
        font-size: 280px;
        line-height: 220px;
        top: 80px;
      }
    }
  }

  &__panel5 {
    background-color: $thirdcolor;
    width: 25%;
    height: auto;
    border: solid 1px $fourcolor;
    border-bottom: none;
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    &__react {
      position: absolute;
      z-index: 1;
      top: 2180px;
      width: 270px;
      outline: none;
      @include tablet {
        top: 2800px;
        width: 300px;
      }
      @include desktop {
        top: 4900px;
        width: 560px;
      }
    }

    &__reactlink {
      font-size: 40px;
      line-height: 35px;
      position: absolute;
      z-index: 2;
      top: 2280px;
      right: 20px;
      color: $primarycolor;
      text-shadow: 1px 1px 5px $shadows;
      outline: none;
      text-align: right;

      &:hover {
        color: $secondarycolor;
        text-decoration: line-through;
        transform: scale(1.3);
        transition: 0.4s;
      }
      @include tablet {
        top: 2900px;
        right: 220px;
        font-size: 60px;
        line-height: 45px;
      }
      @include desktop {
        top: 5100px;
        font-size: 90px;
        line-height: 70px;
        right: 400px;
      }
    }

    &__royal {
      position: absolute;
      z-index: 1;
      top: 1540px;
      width: 270px;
      outline: none;
      @include tablet {
        top: 2000px;
        width: 300px;
      }
      @include desktop {
        top: 3500px;
        width: 560px;
      }
    }

    &__royallink {
      font-size: 40px;
      line-height: 35px;
      position: absolute;
      z-index: 2;
      top: 1640px;
      right: 20px;
      color: $primarycolor;
      text-shadow: 1px 1px 5px $shadows;
      outline: none;
      text-align: right;

      &:hover {
        color: $royalcolor;
        text-decoration: line-through;
        transform: scale(1.3);
        transition: 0.4s;
      }
      @include tablet {
        top: 2100px;
        right: 220px;
        font-size: 60px;
        line-height: 45px;
      }
      @include desktop {
        top: 3700px;
        font-size: 90px;
        line-height: 70px;
        right: 400px;
      }
    }

    &__savia {
      position: absolute;
      z-index: 1;
      top: 900px;
      width: 270px;
      outline: none;

      @include tablet {
        top: 1200px;
        width: 300px;
      }
      @include desktop {
        top: 2100px;
        width: 560px;
      }
    }

    &__savialink {
      font-size: 40px;
      line-height: 35px;
      position: absolute;
      z-index: 2;
      top: 1000px;
      right: 20px;
      color: $primarycolor;
      text-shadow: 1px 1px 5px $shadows;
      outline: none;

      &:hover {
        color: $saviacolor;
        text-decoration: line-through;
        transform: scale(1.3);
        transition: 0.4s;
      }

      @include tablet {
        top: 1300px;
        right: 220px;
        font-size: 60px;
        line-height: 45px;
      }
      @include desktop {
        top: 2300px;
        font-size: 90px;
        line-height: 70px;
        right: 400px;
      }
    }
  }

  &__panel6 {
    z-index: 7;
    background-color: $thirdcolor;
    width: 25%;
    border: solid 1px $fourcolor;
    border-bottom: none;
    position: relative;
    height: 3000px;
    animation: animation-y 8s 0s ease;

    @include tablet {
      height: 3900px;
    }
    @include desktop {
      height: 6500px;
    }
  }
}

.container {
  height: 3000px;
  background-color: $thirdcolor;

  @include tablet {
    height: 3900px;
  }
  @include desktop {
    height: 6500px;
  }
}

.text {
  font-size: 90px;
  color: white;
}

// LIGHT MODE
.button {
  z-index: 8;
  display: flex;
  position: fixed;
  -ms-flex-item-align: end;
  margin: 15px;
  width: 20px;
  height: 20px;
  background-color: $primarycolor;
  border-radius: 20px;
  outline: none;
  right: 0px;

  &:hover {
    transform: scale(1.3);
    transition: 0.4s;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.button-obscure {
  background-color: $thirdcolor;
}

.gridlight {
  background-color: $lightcolor;
  border: solid 1px $lightcolorborder;
}

.blacklight {
  color: $thirdcolor;
}

.lineslight {
  -webkit-text-stroke: 2px $thirdcolor;
}

.titlesblacklight {
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 1px $primarycolor;

  &:hover {
    color: transparent;
    text-decoration: none;
    transform: scale(1.3);
    transition: 0.4s;
  }
}
